@charset "UTF-8";
/* NORMALIZE */
/* ANIMATIONS */
/* COLORS */
.primary {
  color: black; }

.secondary {
  color: white; }

.text-color {
  color: white; }

/* SPACINGS */
/* FONT FAMILY */
/* FONT SIZES*/
/* HEADER */
.logo {
  height: 50px;
  margin-top: 25px;
  margin-left: 40px; }

.navbar-brand {
  height: 50px;
  width: 50px;
  height: 50px; }

.navbar-nav a {
  font-size: 18px; }

/* FOOTER */
.footer {
  background-color: black;
  height: 100px;
  width: 100%;
  margin-top: auto; }
  .footer .derechos {
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: flex;
    margin-left: 50px;
    padding-top: 20px; }
  .footer .ícono {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none; }
    .footer .ícono li a .íconos {
      height: 30px;
      width: 30px; }

/* PROYECTO */
.fondo1 {
  background-color: black; }
  .fondo1 .contenedor {
    display: flex;
    flex-direction: column; }
    .fondo1 .contenedor .fila1 {
      display: flex;
      flex-direction: row; }
      .fondo1 .contenedor .fila1 .parrafo1 {
        width: 100%; }
        .fondo1 .contenedor .fila1 .parrafo1 .título {
          font-family: 'Montserrat', sans-serif;
          color: white;
          padding: 10px; }
        .fondo1 .contenedor .fila1 .parrafo1 p {
          font-family: 'Montserrat', sans-serif;
          color: white;
          padding: 10px; }
      .fondo1 .contenedor .fila1 .imagendes {
        width: 100%; }
    .fondo1 .contenedor .fila2 {
      display: flex;
      flex-direction: row; }
      .fondo1 .contenedor .fila2 .parrafo2 {
        width: 100%; }
        .fondo1 .contenedor .fila2 .parrafo2 p {
          font-family: 'Montserrat', sans-serif;
          color: white;
          padding: 10px; }
      .fondo1 .contenedor .fila2 .imagendes {
        width: 100%; }
