@charset "UTF-8";
/* NORMALIZE */
/* ANIMATIONS */
/* COLORS */
.primary {
  color: black; }

.secondary {
  color: white; }

.terciary {
  color: gray; }

.text-color {
  color: white; }

/* SPACINGS */
/* FONT FAMILY */
/* FONT SIZES*/
/* HEADER */
.logo {
  height: 50px;
  margin-top: 25px;
  margin-left: 40px; }

.navbar-brand {
  height: 50px;
  width: 50px;
  height: 50px; }

.navbar-nav a {
  font-size: 18px; }

/* FOOTER */
.footer {
  background-color: black;
  height: 100px;
  width: 100%;
  margin-top: auto; }
  .footer .derechos {
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: flex;
    margin-left: 50px;
    padding-top: 20px; }
  .footer .ícono {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    list-style: none; }
    .footer .ícono li a .íconos {
      height: 30px;
      width: 30px; }

/* PÁGINA CONTACTO */
.iconoContacto {
  width: 70px;
  height: 70px;
  display: flex;
  margin-left: 80px; }

.contacto {
  display: flex;
  margin-top: 110px; }

.pa {
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin-left: 60px;
  margin-top: 35px; }

.ayudarte {
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin-left: 80px;
  margin-top: 30px; }

.formulario1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-top: 40px; }

.item {
  width: 500px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: black;
  padding: 10px 10px 5px 10px;
  margin: 5px;
  border: hidden;
  border-bottom: 1px solid grey; }

.item1 {
  width: 1010px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: black;
  padding: 10px 10px 0px 10px;
  margin: 5px;
  border: hidden;
  border-bottom: 1px solid grey; }

.formulario2 {
  font-family: 'Montserrat', sans-serif;
  color: gray;
  font-size: medium;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px; }

.genero {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: black;
  margin: 5px;
  border: hidden; }

.términos {
  margin-left: 50px; }

.formulario3 {
  margin-left: -100px;
  margin-top: 100px; }

.borrar {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: black; }

/* PÁGINA ESTUDIO */
.proyectos {
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin-top: 100px;
  display: flex;
  justify-content: center; }

.galería {
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin: 20px 0px 15px 50px;
  display: flex; }

.imagenBV {
  width: 33%; }

/* PÁGINA GALERÍA */
.proyectos {
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin-top: 100px;
  display: flex;
  justify-content: center; }

.galería {
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin: 20px 0px 15px 50px;
  display: flex; }

.imagenBV {
  width: 33%; }

/* MAIN */
.bg-light {
  background-color: transparent !important; }

.carousel-item {
  height: 100vh;
  min-height: 300px; }

.extend, .carousel-caption h5, .carousel-caption p, .carousel-caption a {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.9; }

.carousel-caption {
  margin-bottom: 150px; }
  .carousel-caption h5 {
    font-size: 45px;
    margin-top: 25px; }
  .carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px; }
  .carousel-caption a {
    text-decoration: none;
    color: gray; }

/* PROYECTO */
.fondo1 {
  background-color: black; }
  .fondo1 .contenedor {
    display: flex;
    flex-direction: column; }
    .fondo1 .contenedor .fila1 {
      display: flex;
      flex-direction: row; }
      .fondo1 .contenedor .fila1 .parrafo1 {
        width: 100%; }
        .fondo1 .contenedor .fila1 .parrafo1 .título {
          font-family: 'Montserrat', sans-serif;
          color: white;
          padding: 10px; }
        .fondo1 .contenedor .fila1 .parrafo1 p {
          font-family: 'Montserrat', sans-serif;
          color: white;
          padding: 10px; }
      .fondo1 .contenedor .fila1 .imagendes {
        width: 100%; }
    .fondo1 .contenedor .fila2 {
      display: flex;
      flex-direction: row; }
      .fondo1 .contenedor .fila2 .parrafo2 {
        width: 100%; }
        .fondo1 .contenedor .fila2 .parrafo2 p {
          font-family: 'Montserrat', sans-serif;
          color: white;
          padding: 10px; }
      .fondo1 .contenedor .fila2 .imagendes {
        width: 100%; }
