/* FOOTER */
.footer{
    background-color: map-get($colors, primary);
    height: 100px;
    width: 100%;
    margin-top: auto;
    .derechos{
        font-family: 'Montserrat', sans-serif;
        color: map-get($colors, secondary);
        display: flex;
        margin-left: 50px;
        padding-top: 20px;
    }
    .ícono{
        @include flex(row, flex-end, flex-start)
        list-style: none;
        li a .íconos{
            height: 30px;
            width: 30px;
        }
    }
}
    




