/* PÁGINA ESTUDIO */

.fondoEstudio{
    background-color: black;
    .contenidoEstudio{
        display: flex;
        margin-top: 100px;
        .fotoLuigi{
            width: 90%;
        }
    }
    .artículo{
        padding: 20px;
        background-color: black;
        font-family: 'Montserrat', sans-serif;
        color: white;
    }
    .artículo{
        padding: 20px;
        background-color: black;
        font-family: 'Montserrat', sans-serif;
        color: white;
        .Luigi{
            padding-bottom: 20px;
        }
    }
}








 

