/* PÁGINA GALERÍA */
.proyectos{
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.galería{
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 20px 0px 15px 50px;
    display: flex
}

.imagenBV{
    width: 33%;
}