/* MAIN */
.bg-light{
    background-color: transparent !important;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.bg-1{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
}
.bg-2{
    background-image: url(../img/fondoizq.jpg);
    background-size: cover;
}
.bg-3{
    background-image: url(../img/fondoder.jpg);
    background-size: cover;
}
.extend{
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.9;
}
.carousel-caption{
    margin-bottom: 150px;
    h5{
        @extend .extend;
        font-size: 25px;
        margin-top: 25px;
        background-color: rgba(0, 0, 0, 0.507);
        border-radius: 10px;
    }
    p{
        @extend .extend;
        width: 60%;
        margin: auto;
        font-size: 12px;
    }
    a{
        @extend .extend;
        text-decoration: none;
        color: map-get($colors, terciary);
    }
}
